.cabecalho__botoes {
  gap: 1rem;
}

.cabecalho__botoes-entrar {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 18px;
}

.cabecalho__botoes-cadastrar {
  color: white;
  background-color: var(--contrast-color);
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .cabecalho__botoes-entrar {
    margin-top: 2rem;
  }
}