.formulario__email {
  width: 22.5rem;
  padding: 12px 14px 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--input-border-color);
}

@media screen and (max-width: 425px) {
  .formulario__email {
    width: 10rem;
  }
}
