:root {
  --bg-color: #FFFFFF;
  --logo-text-color: #3A404E;
  --title-color: #101828;
  --text-color: #667085;
  --contrast-color: #8E2424;
  --bg-constrat-color: rgba(142, 36, 36, 0.05);
  --border-color: rgba(234, 236, 240, 1);
  --copy-color: rgba(152, 162, 179, 1);
  --font-family: 'Inter'
}

body {
  font-family: var(--font-family);
  font-size: 16px;
}

a {
  text-decoration: none;
}

.cabecalho, .cabecalho__menu, .cabecalho__logo, .cabecalho__lista, .cabecalho__botoes {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.cabecalho__menu {
  justify-content: space-between;
  gap: 8rem;
}

.cabecalho {
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0;
}

.cabecalho__logo {
  gap: .5rem;
}

.cabecalho__titulo {
  color: var(--logo-text-color);
}

.cabecalho__lista {
  gap: 2rem;
}

.cabecalho__lista-link, .cabecalho__botoes-entrar {
  color: var(--text-color);
}

.cabecalho__botoes {
  gap: 1rem;
}

.cabecalho__botoes-cadastrar {
  color: white;
  background-color: var(--contrast-color);
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
}

.container__sobre {
  height: 50hv;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 6rem 20.5rem;
  gap: 1.5rem;
}

.sobre__texto {
  color: var(--contrast-color);
  font-weight: 600;
}

.sobre__titulo {
  color: var(--title-color);
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 2.25rem;
  letter-spacing: -0.02em;
}

.sobre__descricao {
  font-size: 1.25rem;
  color: var(--text-color);
  line-height: 30px;
}