:root {
  --bg-color: #FFFFFF;
  --logo-text-color: #3A404E;
  --title-color: #101828;
  --text-color: #667085;
  --contrast-color: #8E2424;
  --bg-constrat-color: rgba(142, 36, 36, 0.05);
  --border-color: rgba(234, 236, 240, 1);
  --copy-color: rgba(152, 162, 179, 1);
  --font-family: 'Inter';

}

body {
  font-family: var(--font-family);
  font-size: 16px;
}

a {
  text-decoration: none;
}

.cabecalho, .cabecalho__menu, .cabecalho__logo, .cabecalho__lista, .cabecalho__botoes {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.cabecalho__menu {
  justify-content: space-between;
  gap: 8rem;
}

.cabecalho {
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0;
}

.cabecalho__logo {
  gap: .5rem;
}

.cabecalho__titulo {
  color: var(--logo-text-color);
}

.cabecalho__lista {
  gap: 2rem;
}

.cabecalho__lista-link, .cabecalho__botoes-entrar {
  color: var(--text-color);
}

.cabecalho__botoes {
  gap: 1rem;
}

.cabecalho__botoes-entrar {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 18px;
}

.cabecalho__botoes-cadastrar {
  color: white;
  background-color: var(--contrast-color);
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.container__sobre {
  height: 50hv;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 6rem 20.5rem;
  gap: 1.5rem;
}

.sobre__texto {
  color: var(--contrast-color);
  font-weight: 600;
}

.sobre__titulo {
  color: var(--title-color);
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 2.25rem;
  letter-spacing: -0.02em;
}

.sobre__descricao {
  font-size: 1.25rem;
  color: var(--text-color);
  line-height: 30px;
}

.container__metricas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem 8rem 5rem 8rem;
  gap: 1.2rem;
}

.metrica__numero {
  font-size: 3.75rem;
  color: var(--contrast-color);
  font-weight: 600;
  margin-bottom: 1rem;
}

.metrica__subtitulo {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .5rem;
}

.metrica__descricao {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--text-color);
}

.container__talento {
  text-align: center;
  margin: 8rem 0rem 4rem 0;
}

.talento__destaque {
  color: var(--contrast-color);
  background-color: var(--bg-constrat-color);
  border-radius: 1rem;
  padding: 4px 12px;
}

.talento__titulo {
  margin-top: 1.5rem;
  font-size: 2.25rem;
  color: var(--title-color);
  font-weight: 600;
}

.talento__texto {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--text-color);
}

.talento__imagem {
  margin-top: 4rem;
}

.container__vaga {
  padding: 0 21rem 2rem 21rem;
}

.vaga__titulo {
  font-size: 1.25rem;
  color: var(--title-color);
  font-weight: 500;
}

.vaga__titulo:nth-of-type(2) {
  display: block;
  padding-top: 2rem;
}

.vaga__container {
  border: 1px solid var(--border-color);
  border-radius: 16px;
  padding: 1.5rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.vaga__container-titulo {
  color: var(--title-color);
  font-size: 1.125rem;
  font-weight: 500;
}

.vaga__container-horas, .vaga__container-salario {
  color: var(--text-color);
  font-weight: 500;
  margin-right: 1.5rem;
}

.colaboradores__container {
  margin: 0 7rem 3rem 7rem;
  background-color: var(--bg-constrat-color);
  text-align: center;
  border-radius: 16px;
}

.colaboradores__destaque {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 4rem 0 1rem 0;
  color: var(--contrast-color);
}

.colaboradores__titulo {
  font-size: 2.25rem;
  color: var(--title-color);
  font-weight: 500;
  line-height: 2.75rem;
}

.colaboradores__imagem {
  margin: 2rem 0 1rem 0;
}

.colaboradores__autor {
  font-size: 1rem;
  color: var(--title-color);
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.colaboradores__cargo {
  font-size: 0.875rem;
  color: var(--text-color);
  font-weight: 400;
  padding-bottom: 4rem;
}